# Виртуальное окружение
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
*.tmp
*.bak

# Файлы с секретами
.env
*.pem

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# Другое
*.db
*.sqlite
